lsi: false
safe: true
incremental: false
highlighter: rouge

gist:
  noscript: false

plugins:
  - jekyll-remote-theme 

kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
  
remote_theme: pages-themes/midnight@v0.2.0

title: RobertLD's Ramblings
description: A collection of personal thoughts and ideas


