$base-font-family: 'Atkinson Hyperlegible', sans-serif;
$headings-font-family: 'Atkinson Hyperlegible', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5;
$spacing-unit: 35px;



$background-color: #1e1e2e;
$text-color: #cdd6f4;
$code-background-color: #45475a;
$site-title-color:  #cba6f7;
$border-color-03: #181825;
$border-color-02: #181825;
$border-color-01: #181825;